BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 140
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
SpacesBeforeTrailingComments: 1
SpaceAfterCStyleCast: true
IncludeBlocks: Preserve
AlignConsecutiveAssignments: true
PointerAlignment: Left
SortIncludes: true
