CompileFlags:
  CompilationDatabase: build/Debug
Diagnostics:
  ClangTidy:
    CheckOptions:
      performance-no-int-to-ptr: false
      cppcoreguidelines-avoid-non-const-global-variables.AllowInternalLinkage: true
      bugprone-easily-swappable-parameters.MinimumLength: 6
      readability-identifier-length.MinimumParameterNameLength: 0
      readability-identifier-length.MinimumLoopCounterNameLength: 0
      readability-identifier-naming.ParameterCase: camelBack
      readability-identifier-naming.VariableCase: lower_case
      readability-identifier-naming.FunctionCase: lower_case
      readability-identifier-naming.ClassCase: CamelCase
      readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
      readability-identifier-naming.ConstantCase: UPPER_CASE
      readability-identifier-naming.PrivateMemberPrefix: _
      readability-identifier-naming.MemberCase: lower_case
