build
mx.scratch
!.settings
CMakeUserPresets.json
build
.cache
toolchain.cmake
build.ninja
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake